# Systemd Service Script for Production Deployment

[Unit]
Description=Junos Exporter Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/opt/junos_exporter

ExecStart=/usr/local/bin/docker-compose -f docker-compose.yaml up
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yaml down

User=prometheus

[Install]
WantedBy=multi-user.target